{% schema %}
{
  "name": "Reclame Aqui",
  "tag": "section",
  "class": "reclame-aqui-section",
  "settings": []
}
{% endschema %}

<div style="display:flex; justify-content:center; align-items:center; width:100%; padding:20px 0;">
  <div id="ra-verified-seal">
    <script 
      type="text/javascript"
      id="ra-embed-verified-seal"
      src="https://s3.amazonaws.com/raichu-beta/ra-verified/bundle.js"
      data-id="LWpvSVBwRVdPSWdIVmF5RTpteS1jaGFybXMtMTY3OTc2NQ=="
      data-target="ra-verified-seal"
      data-model="horizontal_2">
    </script>
  </div>
</div>