<section style="background: {{ section.settings.bg }}; padding: {{ section.settings.padding }}px 0; text-align:center;">

  <div id="ra-verified-seal"></div>

</section>

<script>
document.addEventListener("DOMContentLoaded", function() {

  if (!document.getElementById("ra-embed-verified-seal")) {

    var script = document.createElement("script");

    script.id = "ra-embed-verified-seal";
    script.src = "https://s3.amazonaws.com/raichu-beta/ra-verified/bundle.js";
    script.type = "text/javascript";

    script.setAttribute("data-id","LWpvSVBwRVdPSWdIVmF5RTpteS1jaGFybXMtMTY3OTc2NQ==");
    script.setAttribute("data-target","ra-verified-seal");
    script.setAttribute("data-model","horizontal_2");

    document.body.appendChild(script);

  }

});
</script>

{% schema %}
{
  "name": "Reclame Aqui",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Cor de fundo",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Espaçamento vertical",
      "min": 0,
      "max": 120,
      "step": 4,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Reclame Aqui"
    }
  ]
}
{% endschema %}